@import "tailwindcss";

@theme {
  --color-primary: #17b0cf;
  --color-background-light: #f6f8f8;
  --color-background-dark: #111e21;
  --color-surface-dark: #18282c;
  --color-text-light: #1f2937;
  --color-text-dark: #ffffff;
  --color-secondarytext-light: #6b7280;
  --color-secondarytext-dark: #93bfc8;
  --font-display: [ "Inter", "sans-serif"];
  --font-body: [ "Noto Sans", "sans-serif"];
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}
